.Dictionary {
  background-color: #b1af9a;
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 500px;
  border-radius: 8px;
  border: solid 10px #52563f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h2 {
  font-size: 36px;
}

.searchbar {
  display: block;
  justify-content: center;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("supermatcha-5yojv-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
