.Results h2 {
  font-size: 36px;
  font-family: "MyCustomFont";
}

@font-face {
  font-family: "MyCustomFont";
  src: url("supermatcha-5yojv-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
